<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/vue.js" ></script>
		
	</head>
	<body>
		
		<div class="app">
			<input type="text" v-model="inputVal" />
			<button v-on:click="handleBtnClick">提交</button>
			<ul>
				<li v-for="item in list">
					{{item}}
				</li>
			</ul>
		</div>
		
		
		<script>
			var app = new Vue({
				
				el: '.app',
				data: {
					list:[],
					inputVal:''
				},
				methods:{
					handleBtnClick:function(){
						this.list.push(this.inputVal);
						this.inputVal = ''
					}
				}
				
			});
			
			
			
		</script>
		
		
	</body>
</html>
